<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives
* List of popular languages for Data Science
* List of commonly used libraries for Data Science 
* List of popular Data Science Tools
* Example of Python arithmetics

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. ggplot2

|Data Science Tools|
|------------------|
|Apache Spark|
|Apache Hadoop|
|Power BI|

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

In [ ]:
#This will convert 200 minutes to hours by diving by 60
200/60

## Author
Hamza DAMOUH